.prisoners-container {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1000px;
  height: auto;
}


.prisoners-table {
  width: 100%;
  border-collapse: collapse;
  color: #e9e9e9;
  border-radius: 8px;
  overflow: hidden;
}

.prisoners-table th,
.prisoners-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.prisoners-table th {
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.prisoners-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.prisoners-table tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.prisonerdata {
  cursor: pointer;
}

.update-container {
  display: none;
}

.hiddeninput {
  display: none;
}

.activeinput {
  display: block;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(27, 29, 31, 0.87);
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  color: #e9e9e9
}

.btn-dodac {
  width: 200px;
  border-radius: 8px;
  padding: 10px 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #e9e9e9;
  cursor: pointer;
  border: none;
}